.container{
    display: flex;
    flex-direction: column;
    width: 175px;
    margin: 0 .4em;
    text-align: center;
}
.container h3{
    color: #444444;
}
.card{
    background: linear-gradient(180deg, #464646 0%, #1D2540 100%);
    color: #FFFFFF;
    border-radius: 7px;
}
.head p{
    font-weight: 500;
    font-size: 1.3rem;
}
.head img{
    width: 100px;
}
.head{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF33;
    margin: .5em;
}

.body li{
    list-style: none;
    margin: .5em;
}