.container{
    background: radial-gradient(50% 50% at 50% 50%, #E0E8F1 0%, #BFCAD6 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.longAndLati_p{
    font-size: .8rem;
    color: #606060;
}

.weather_container{
    width: 70%;

}

.search_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    margin: 1em 0;
    border-bottom: 1px solid #00000033;
}

.location_name_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.location_name_box p{
    color:#1D2540;
    font-size: 2rem;
    font-weight: 700;
    margin-left: .4em;
}

.search_box input, input:focus{
    outline: none;
    border: none;
    border-radius: 8px;
    padding: .5em;
    width: 327px;
    font-size: 1rem;
}
.search_box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
}

.weather_report_container{
    display: flex;
    align-items: center;
    gap: 10%;
}

.report_header li{
    list-style: none;
    margin: 1em 0;
}

.date_box label{
    font-size: .8em;
    color: #444444;
}
.date_box{
    display: flex;
    flex-direction: column;
}

.weather_card_container{
    display: flex;
}